@media (max-width: 966px) {
  img.logo {
    height: 30px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.85rem;
    line-height: 1rem;
  }
  p {
    font-size: 0.70rem;
    line-height: 1.425em;
  }
  a.btn {
    margin: 10px 10px 0 0;
  }
  .btn-download, .btn-learn, .btn-blue {
    padding: 15px 15px;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  #download a.btn-learn {
    padding: 10px;
  }
}

@media (max-width: 966px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 640px) {
  .coloroverlay {
    text-align: center;
  }
  #home img.img-responsive {
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
  }
  #about {
    padding: 40px 40px 0 40px;
    text-align: center;
  }
  #about img.img-responsive {
    padding-top: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 460px) {

  #home .coloroverlay {
    padding-top: 80px;
  }
  #about i.fa.fa-2x {
    padding: 0 2px;
  }
  #about {
    padding: 10px 10px 0 10px;
  }
  #footer {
    padding-bottom: 2rem;
  }
  .space {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 340px) {
  h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .section-title {
    margin-bottom: 0rem;
  }
  .social-icons li {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
