@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
body, html {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
html {
  font-size: 100%
}
*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width:1200px) {
  .container {
    width: 1140px
  }
}
p {
  font-size: 0.95rem;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  font-size: 1em;
  line-height: 1.625rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  text-decoration: none
}
h1, h2, h3 {
  font-family: 'Cinzel', Helvetica, serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 5rem;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}
h2 {
  font-size: 3.25rem;
  line-height: 3.6rem;
  margin-bottom: 1.7rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 3px #8e65a9;
}
h3 {
  font-size: 1.2rem;
  line-height: 2.25rem;
  font-weight: 300;
}
h1, h4 {
  text-shadow: 1px -1px 3px #444;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 0.9rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}
h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none
}
ul, menu, dir {
  display: block;
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 00px;
}
li {
  margin-top: 1.625em
}
li a {
  display: inline
}
hr {
  margin-top: 4.568em;
  margin-bottom: 4.568em;
}
.left {
  text-align: left
}
.right {
  text-align: right
}
.padding-left {
  padding-left: 60px
}
.bottom {
  padding-bottom: 40px
}
.top {
  padding-top: 20px
}
.space {
  padding-top: 40px;
  padding-bottom: 40px;
}
.highlight {
  color: #2468A9
}
.black {
  color: #000000
}
span.bold {
  font-weight: 700
}
span.light {
  font-weight: 300
}
a.btn {
  margin: 0 10px 0 0
}
.dark {
  background: #000000;
  color: #ffffff
}
.light {
  background: #ffffff;
  color: #000000;
}
#home {
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #ffffff;

  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: 25% 49%;
  background-attachment: fixed;
}
#home p, #about p {
  padding: 5px 0 0;
  font-weight: 400;
}
img.logo {
  height: 40px
}
.coloroverlay {
  padding-top: 120px;
  padding-bottom: 80px;
  background: rgba(0, 90, 143, 0.6);
}
.btn-colored {
  padding: 15px 25px;
  background-color: #2468A9;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
}
.btn-colored:hover {
  background-color: #265F96;
  color: #ffffff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.btn-buy {
  padding: 15px 25px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 1px solid #ffffff;
}
.btn-buy:hover, .btn-buy:focus {
  background-color: #ffffff;
  color: #212C3C;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.btn-lined {
  padding: 15px 25px;
  background-color: #212C3C;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 1px solid #212C3C;
}
.btn-lined:hover {
  background-color: transparent;
  color: #212C3C;
  border: 1px solid #212C3C;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.section-title {
  text-align: center
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 60px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 80px
  }
}
dt i.fa {
  margin-top: 10px
}
#about {
  color: #ffffff;
}
#about img.img-responsive {
  max-height: 400px;
}
.social-icons li {
  display: inline;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #ffffff;
}
.social-icons li a {
  color: #ffffff
}
.social-icons li a:hover {
  color: #212C3C;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}
#footer {
  text-align: center;
  padding-bottom: 6.5rem;
}
#footer p {
  font-size: 14px;
}
.socials ul li {
  display: inline-block;
  padding: 5px;
}
.dark .socials li a {
  color: #ffffff;
}
.light .socials li a {
  color: #212C3C;
}
.socials li a:hover {
  color: #2468A9;
}

/** Add some gray **/

.highlight {
  color: #4C4C4C
}
.coloroverlay {
  background: rgba(20, 20, 20, .65)
}
.btn-colored {
  background-color: #4C4C4C
}
.btn-colored:hover {
  background-color: #333333
}
.btn-buy:hover, .btn-buy:focus {
  color: #212C3C
}
.btn-download {
  background-color: #212C3C
}
.btn-download:hover {
  color: #212C3C
}
#about {
  background: #4C4C4C
}
.socials li a:hover {
  color: #4C4C4C
}
.socials li a:hover {
  color: #4C4C4C
}

/** Add some purple **/

.highlight {
  color: #8E65A9
}
.btn-colored {
  background-color: #8E65A9
}
.btn-colored:hover {
  background-color: #58396C
}
.btn-buy:hover, .btn-buy:focus {
  color: #212C3C
}
.btn-download {
  background-color: #212C3C
}
.btn-download:hover {
  color: #212C3C
}
#about {
  background-image: url('../img/knitting.png');
  background-position: center center;
  background-repeat: repeat;
}
#about .coloroverlay {
  background-color: rgba(142,101,169, .70);
}
.socials li a:hover {
  color: #8E65A9
}
