/*=======================
Theme: Ebook Landing Page Template
Author: JLP Media
Email: jennpereira13@gmail.com / lianplameras@gmail.com
Version: 1.0
Date Created: September 16, 2014
=======================
CSS Style Structure
- Import Fonts
- General
- Preloader
- Home Section
- Things that You will Learn
- Subscription
- Overview
- Facts Counter
- Reviews Section
- Download
- Other Books Section
- Toggle Contact Section
- Awards Section
- Footer Section
=======================*/


/**************************
****** Import Fonts *******
**************************/

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic);

/**************************
********* General *********
**************************/

body, html {
  overflow-x: hidden;
  font-family: 'Muli', sans-serif;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 100%
}
body {
  overflow: hidden;
}
*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width:1200px) {
  .container {
    width: 1140px
  }
}
p {
  font-size: 0.9rem;
  line-height: 1.625em;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}
a {
  font-size: 1em;
  line-height: 1.625rem;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  text-decoration: none
}
h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 3rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-size: 2.5rem;
  line-height: 3.6rem;
  margin-bottom: 1.7rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-size: 1.2rem;
  line-height: 2.25rem;
  font-weight: 300;
}
h4 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}
h5 {
  font-family: 'Muli', sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none
}
ul, menu, dir {
  display: block;
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 00px;
}
li {
  margin-top: 1.625em
}
li a {
  display: inline
}
hr {
  margin-top: 4.568em;
  margin-bottom: 4.568em;
}
.left {
  text-align: left
}
.right {
  text-align: right
}
.padding-left {
  padding-left: 60px
}
.bottom {
  padding-bottom: 40px
}
.top {
  padding-top: 20px
}
.space {
  padding-top: 40px;
  padding-bottom: 40px;
}
.highlight {
  color: #2468A9
}
.black {
  color: #000000
}
span.bold {
  font-weight: 700
}
span.light {
  font-weight: 300
}
a.btn {
  margin: 0 10px 0 0
}
.dark {
  background: #000000;
  color: #ffffff
}
.light {
  background: #ffffff;
  color: #000000;
}

/**************************
****** Home Section *******
**************************/

#home {
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #ffffff;
}
.coloroverlay {
  height: 100%;
}
.btn-colored {
  padding: 15px 25px;
  background-color: #2468A9;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
}
.btn-colored:hover {
  background-color: #265F96;
  color: #ffffff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.btn-learn {
  padding: 15px 25px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 1px solid #ffffff;
}
.btn-learn:hover, .btn-learn:focus {
  background-color: #ffffff;
  color: #212C3C;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.btn-download {
  padding: 15px 25px;
  background-color: #212C3C;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 1px solid transparent !important;
}
.btn-download:hover {
  background-color: #ffffff;
  color: #212C3C;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.btn-lined {
  padding: 15px 25px;
  background-color: #212C3C;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 1px solid #212C3C;
}
.btn-lined:hover {
  background-color: transparent;
  color: #212C3C;
  border: 1px solid #212C3C;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

/**************************
**** About the Author ****
**************************/

#about {
  padding-top: 4.5rem;
  background: #2468A9;
  color: #ffffff;
}
.social-icons li {
  display: inline;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #ffffff;
}
.social-icons li a {
  color: #ffffff
}
.social-icons li a:hover {
  color: #212C3C;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}

/**************************
****** Footer Section *****
**************************/

#footer {
  text-align: center;
  padding-bottom: 6.5rem;
}
#footer p {
  font-size: 14px;
}
.socials ul li {
  display: inline-block;
  padding: 5px;
}
.dark .socials li a {
  color: #ffffff;
}
.light .socials li a {
  color: #212C3C;
}
.socials li a:hover {
  color: #2468A9;
}
